<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <h1>Here would be the title</h1>
        </nav>
    </header>
    <div class="head-text"> Choose</div>
    <div class="container">
        <div class="random">
            <form action="/random" method="get">
                <button type="submit">Random</button>
            </form>
        </div>
        <div class="search">
        <form action="/search" method="post">
            <input type="text" name="search">
            <button type="submit">Search</button>
        </form>
        </div>
    </div>
    <div class="image-box">
        <%if(locals.url){%>
        <img src="<%=url%>" alt="data here">
        <%}else if(locals.error){%>
            <p><%=error%></p>
        <%}%>
    </div>
</body>
</html>